body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.options-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  text-transform: uppercase;
  outline: none;
}

label {
  display: inline-block;
  width: 160px;
}

.btn,
input {
  border: 1px solid #EEE;
  background: #FFF;
  height: 32px;
  border-radius: 2px;
  margin-left: 20px;
  max-width: 60px;
  text-decoration: none;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.btn {
  margin-left: 0;
  padding: 6px;
}

.eventItem {
  padding: 4px;
}

.btn:hover,
.eventItem:hover {
  background: #EEE;
}

span {
  padding: 6px;
}

/*.timeline {
  position: absolute;
  top: 40px;
  left: 60px;
  list-style: none;
}*/
.icon {
    width: 1.8em; height: 1.8em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.icon-pikaq {
  background: url('./assets/pikaq.png');
  background-size: contain;
}
